# Ignore everything in the config_files folder except google-sm.json
# for now unless Workload Identity Federation is implemented.
src/config_files/*
!src/config_files/google-sm.json

# Ignore all pycache files
*.pyc

# Ignore all markdown files
*.md

# Ignore uploaded files for course videos
src/static/course_videos/**

# Ignore Mac DS_Store files
.DS_Store
**/.DS_Store

# Ignore test codes and folders
test/**
*test*.*
*Test*.*
*test*.*/**
*Test*.*/**

# Ignore other folders and files.
*.pem
*.log
*.bak
*.bin
node_modules
.firebaserc
firebase.json
package-lock.json
.gitignore
.dccache
res/**
res
sample/*
!sample/download_dependencies.py