# Ignore pycache
*.pyc

# Ignore Mac DS_Store files
.DS_Store
**/.DS_Store

# Ignore downloaded dependencies
python_packages/*

# Ignore test codes and folders
*test*.*
*Test*.*
*test*.*/**
*Test*.*/**

# Ignore everything in the config_files folder except the README.md
src/config_files/*
!src/config_files/README.md

# Ignore other files
*.bin
.dccache

# Ignore uploaded files for course videos
src/static/course_videos/**

# Ignore all .json files (just in case as there are google gmail api tokens in there)
*.json

# Ignore .pem files (For SQL server SSL Certificates)
*.pem

# Ignore all log, backup files
*.log
*.bak