# Ignore pycache and sqlite3 db files
*.pyc
*.db

# Ignore Mac DS_Store files
.DS_Store
**/.DS_Store

# ignore other files
*test*.*
blacklist.txt

# ignore uploaded files for user profiles and thumbnails
src/static/images/user/*.webp
src/static/images/courses/thumbnails/*.webp

# ignore all .json files (just in case as there are google gmail api tokens in there)
*.json

# ignore all log, backup files
*.log
*.bak