.title {
    margin:3em;
    text-align:center;
}

.icon-div {
    display:flex;
    justify-content:center;
}

.fa-envelope-open-text {
    font-size:20vw;
}

.content-row {
    display:flex;
    align-items: center;
    padding:0px 10vw;
}

#contactForm button {
    text-align:center;
    display:block;
}

#contactForm textarea {
    resize:vertical;
}

#contactForm label {
    margin-top: 1rem;
}

.response-div h3 {
    text-align:center;
}

.response-div {
    border:2px solid black;
    padding:5px;
}

@media only screen and (max-width: 700px) {
    .icon-div {
        display:none;
    }
}
