.box{
  background-color: white;
  padding: 50px;
  border: 5px solid #A375FD;
  margin-bottom:50px;
  width:85%;
}

h3{
  margin-top:40px;
  text-align:center;
}

h2{
  text-align:center;
}
.casing{
  max-width: 1100px; 
  margin-bottom:50px;
}

.td_cells_min_width_reviews {
  min-width: 600px;
}