/* {/*Check for ghost elements; very contrasting colours*
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/

.delete-button {
    color: #6c757d;
    font-size: 1.5rem;
}
.delete-button:hover {
    color:#dd2828;
}

#shopping-title {
    /*Top-Bottom, Left-Right*/
    margin:2.5em auto;
    max-width: 80vw;
}

/*Not a shopping card, but a shopping cart.*/
.empty-cart {
    margin:1em auto;
    display:block;
    text-align:center;
    font-size:2vw;
}

.fa-cart-plus {
    color: rgba(0,0,0,0.25);
    font-size: 12.5vw;
    margin-bottom: 0.1em;
}

.fa-cart-plus:hover {
    color:#729aca;
    cursor:pointer;
}

#checkout-button {
    display: block;
    text-align: center;
}

#checkout-button button {
    width: 33%;
}

/*For payment*/

.subtotal {
    text-align:center;
}

/* Item Added Alert */

.alert-div {
    display: flex;
    align-items: center;
    margin: 0px 2.5vw 2.5vw;
    max-width: 80vw;
}

.alert-div i {
    padding-right: 1rem;
    font-size: 1.5em;
}

/* For responsiveness */

@media only screen and (max-width: 825px) {
    .card-body .row {
        padding: 0px;
    }
}

/* For cart table */

.price-column {
    min-width: 500px;
}

.course-thumbnail {
    width: 320px;
    height: auto;
}

@media only screen and (max-width: 1024px) {
    .course-thumbnail {
        width: 200px;
        height: auto;
    }
}

@media only screen and (max-width: 600px) {
    .course-thumbnail {
        max-width: 100px;
        height: auto;
    }
}