/* UI base css */

#left-user {
  height: 100%;
  margin-bottom: 20px;
  border-radius: 15px 0 0 15px;
}

#right-user {
  height: 100%;
  margin-bottom: 20px;
  padding-top: 20px;
  border-radius: 0 30px 30px 0;
  border-width: 5px;
  border-style: solid;
  border-color: #212529;
}

#user-icon-setting {
  height: 200px;
  width: 200px;
  margin: 5px 0;
  border-radius: 50%;
}

.payment_exist {
  height: 600px;
}

.active-custom {
  background-color: #009DF8 !important;
  font-weight: bold;
}

.user-tip {
  margin-top: 40px;
}

.profile-icon {
  margin: 20px 0;
}

.submit-settings {
  float: right;
  width: 100px;
}

.profile-info {
  margin: 25px 0;
}

.margin-top {
  margin-top: 25px;
}

.margin-card {
  margin-top: 80px;
}

.margin-btm {
  margin-bottom: 5px;
}

.container_margin {
  margin-top: 40px;
  margin-bottom: 40px;
}

.profile-settings {
  margin: 0 10px;
}

.merge-boxes {
  padding-right: 0 !important;
  padding-left: 0 !important;

}

@media (max-width: 991px) {
  #left-user {
    border-radius: 10px 10px 0 0;
    margin-bottom: 0px;
  }
  #right-user {
    border-radius: 0 0 10px 10px;
    margin-top: 0px;
  }
  .footer {
    margin-top: 5%;
  }
  #user-icon-setting {
    height: 150px;
    width: 150px;
  }
  .payment_exist {
    height: 100%;
  }
  .payment_card {
    margin: 10px 0;
  }
  .cc-table {
    margin-bottom: 10px;
  }
}

@media(max-width: 767px) {
  .image-center {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .profile-settings {
    margin: 0 0px !important;
  }
  #left-user {
    border-radius: 10px 10px 0 0;
    margin-bottom: 0px;
  }
  #right-user {
    margin-left: 10px;
    margin-right: 10px;
  }
  #left-user {
    margin-left: 10px;
    margin-right: 10px;
  }
  .margin-top {
    margin-top: 10px;
  }
}

@media (max-width: 374px) {
  .text-responsive {
    width: 100% !important;
  }
  .margin-top {
    margin-top: 5px;
  }
  .margin-btm-text {
    margin-bottom: 20px;
  }
  .res_padding_remove {
    padding: 5px !important;
  }
}

/* Form fields css */

.payment_logo {
  width: 50px;
  height: auto;
}

.form-buttons {
  display: inline-block;
}

/* admin dashboard canva css */

#totalUserChart {
  width: 100%;
  height: 60vh;
}

/* user management table css */

.users_profile {
	height: 40px;
	width: auto;
	border-radius: 50%;
}

@media (max-width: 500px) {
  .cc-table {
    white-space: nowrap;
  }
}

.cc-table {
  border: 2px solid #aaa;
  border-radius: 5px;
}

.table_text {
  max-width: 180px;
}

.table_full_data_text {
  max-width: 200px;
}

.verified_email {
  color: #198754;
}

.verified_email:hover {
  text-decoration: none;
  color: #198754;
}

.not_verified_email {
  color: #dc3545;
}

.not_verified_email:hover {
  color: #dc3545;
}

/* teacher's UI css */

.cashout_button{
  margin-top:20px;
  width:max(20%, 120px);
  float:right;
  margin-left:auto;
}

/* Other css for macros/UXD */

.accepted_cards {
  text-align: right;
}

.tooltip_value {
  display: none;
}

.user_id_text {
  min-width: 200px;
}

.username_text, .profile_copy_text {
  color: #000;
}

#teacherBio {
  resize: vertical;
}

.cancleSaveBio {
  margin-right: 10px;
}

/* Dropzone.js css to overwrite default */

.dropzone {
  margin-top: 10px;
  border: 4px dashed #ddd;
}

.upload-icon {
  color: #009DF8;
  font-size: 5em;
  margin-bottom: 10px;
}

.upload-icon:hover {
  color: #273C4D;;
}

@media (max-width: 468px) {
  .upload-icon {
    font-size: 3em;
  }
}

.btn-margin {
  margin-right: 10px;
}

#editProfileButton {
  margin-top: 10px;
}

/*          /////           Ticket Management          /////           */

.ticket_id_text:hover, .ticket_info_text:hover, .ticket_name_text:hover, .email_text:hover, .subject_text:hover, .enquiry_text:hover, .quick-form span:hover {
    color:#007bff;
    text-decoration:underline;
    cursor:pointer;
}

.ticket-table p {
    margin-bottom: 0px;
    color:black;
}

.ticket-table tr td:nth-of-type(1) {
    min-width:125px;
}

.ticket-table tr td:nth-of-type(3) {
    min-width:175px;
}

.ticket-table tr td:nth-of-type(4) {
    min-width:150px;
}

.ticket-table tr td:nth-of-type(5) {
    min-width:175px;
}

.submit-div #submit {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0%;
}

.submit-div button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height:100%;
}

p.closed-ticket, td.closed-ticket {
    color:grey;
    text-decoration:line-through grey solid;
}

#action-form {
    display:none;
}

td p .fa-envelope-open-text {
    float:right;
}

.email-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quick-form span {
    transition:0.3s;
}

.quick-form span:hover {
    color: #009DF8;
}

.quick-form span:first-of-type() {

}

.quick-form span:last-of-type() {

}

/*          /////           End of Ticket Management          /////           */

#phone {
    align-items: flex-end;
}

#edit button {
    margin-left: 10px;
}

.alert-div {
    display: flex;
    align-items: center;
}

.alert-div i {
    padding-right: 1rem;
    font-size: 1.5em;
}
