{% extends "admin_base.html" %}
{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/user_profile.css') }}">{% endblock %}
{% block title %}User Management | CourseFinity{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            {% for category, message in messages %}
            <div class="modal-header">
                <h5 class="modal-title" id="alertModalLabel">{{ category }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>{{ message }}</h6>
            </div>
            {% endfor %}
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Confirm</button>
            </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endwith %}

<div class="container container_margin">
    <div class="row">
        <div class="col-lg-3 merge-boxes">
            <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" id="left-user">
                <h4><span class="fs-4">Admin Dashboard</span></h4>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="{{ url_for('superAdminBP.adminDashboard') }}" class="nav-link text-white">
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('adminBP.adminProfile') }}" class="nav-link text-white">
                            Account Settings
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('adminBP.userManagement') }}" class="nav-link text-white active-custom">
                            User Management
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-9 merge-boxes">
            <div id="right-user">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="/user_management/search/1/" method="GET" class="d-flex">
                                <div class="input-group margin-btm">
                                    <input class="form-control mr-2" type="search" placeholder="Search for user (using username or UID or email)..." name="user" aria-label="Search" value="{{ parameter }}" required>
                                    <button class="btn btn-secondary border-0" type="submit"><i class="fas fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <td>Account ID</td>
                                    <td>Profile Image</td>
                                    <td>Username</td>
                                    <td>Account Type</td>
                                    <td>Email</td>
                                    <td colspan="3">Status</td>
                                </tr>
                                <tr>
                                    <td>
                                        
                                    </td>
                                </tr>
                            </table>
                            <div class="center">
                                <div class="pagination">
                                    {% if currentPage != 1 %}
                                        <a href="{{ url_for('generalBP.search')}}?q={{searchInput}}&p={{currentPage - 1}}">&laquo;</a>
                                    {% endif %}
                                    {% for i in range(1,maxPage + 1) %}
                                        {% if i == currentPage %}
                                            <a class="active" href="">{{ i }}</a>
                                        {% else %}
                                            <a href="{{ url_for('generalBP.search') }}?q={{searchInput}}&p={{i}}">{{ i }}</a>
                                        {% endif %}
                                    {% endfor %}
                                    {% if currentPage != maxPage %}
                                        <a href="{{ url_for('generalBP.search')}}?q={{searchInput}}&p={{currentPage + 1}}">&raquo;</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <script>
            var alertModal = new bootstrap.Modal(document.getElementById("alertModal"), {});
            alertModal.show();
        </script>
        {% endif %}
    {% endwith %}
    <script src="{{ url_for('static', filename='scripts/bootstrap_util.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/copy_to_clipboard.js') }}"></script>
{% endblock %}