<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link nonce="{{ csp_nonce() }}" rel="stylesheet" href="{{ url_for('static', filename='styles/cookie_alert.css') }}">
    <link nonce="{{ csp_nonce() }}" rel="stylesheet" href="{{ url_for('static', filename='styles/common.css') }}">
    <link nonce="{{ csp_nonce() }}" rel="stylesheet" href="{{ url_for('static', filename='styles/font_size.css') }}">
    {% block head %}
    {% endblock %}
    <link rel="apple-touch-icon" sizes="180x180" href="https://storage.googleapis.com/coursefinity/web-assets/common/favicon_180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://storage.googleapis.com/coursefinity/web-assets/common/favicon_180x180.png">
    <script nonce="{{ csp_nonce() }}"src="{{ url_for('static', filename='scripts/cookie_alert.js') }}"></script>
</head>
<body>
    {% block navbar %}
        {% include "includes/_guest_navbar.html" %}
    {% endblock %}

    <a id="topbutton"><i class="fas fa-chevron-up"></i></a>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <div class="alert text-center cookiealert" role="alert">
        <b>Do you like cookies?</b> &#x1F36A; CourseFinity relies on cookies to provide you the best experience! <a href="/cookie_policy">Click here to learn more</a>
        <button type="button" class="btn btn-success btn-sm acceptcookies">
            I agree
        </button>
    </div>

    {% block footer %}
        {% include "includes/_footer.html" %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='scripts/common.js') }}"></script>

    {% block extra_js %}
    {% endblock %}
</body>
</html>