{% if accType == None %}
	{% extends "guest_base.html" %}
{% elif accType == "Admin" %}
	{% extends "admin_base.html" %}
{% else %}
	{% extends "user_base.html" %}
{% endif %}

{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/search.css') }}">{% endblock %}
{% block title %}Search | CourseFinity{% endblock %}

{% block content %}
<div class="container">
    <h2 class="display-5">You Searched For "{{ searchInput }}"</h2>
    {% if (foundResultsLen < 1) %}
    <div class="row">
        <div class="col">
            <h4 class="display-5">No Course Found</h4>
        </div>
    </div>
    {% else %}
        {% for results in foundResults %}
            <div class="row g-0 casing mx-auto border">
                <div class="col-5">
                    {% if (results.course_image_path == None) %}
                        <img src="{{ url_for('static', filename='images/courses/placeholder.webp') }}" class="resize img-fluid rounded float-start" alt="Course Thumbnail">
                    {% else %}
                        <img src="{{ url_for('static', filename='images/courses/' ~ results.course_image_path) }}" class="resize img-fluid rounded float-start" alt="Course Thumbnail">
                    {% endif %}
                </div>
                <div class="col-7">
                    <div class="card-body">

                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}