<footer class="mt-5 pt-5 pb-5 footer bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4 class="header">Company<div></div></h4>
                <ul class="links">
                    <li><a href="/#">About Us</a></li>
                    <li><a href="/#">Terms and Conditions</a></li>
                    <li><a href="/#">Privacy Policy</a></li>
                    <li><a href="/#">Cookie Policy</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4 class="header">Useful Links<div></div></h4>
                <ul class="links">
                    <li><a href="/#">FAQ</a></li>
                    <li><a href="{{ url_for('contact_us') }}">Contact Us</a></li>
                    <li><a href="/#">Community Guidelines</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4 class="header">Teaching<div></div></h4>
                <ul class="links">
                    <li><a href="/#">Become a Teacher</a></li>
                    <li><a href="/#">Teacher's Handbook</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4 class="header">Contact Info<div></div></h4>
                <ul class="contact_details links">
                    <li><i class="fas fa-phone-alt"></i> Call: <a href="tel:+65-6452-5115">+65 6451 5115</a></li>
                    <li><i class="far fa-envelope"></i> Email: <a href="mailto:coursefinity@support.com">coursefinity@support.com</a></li>
                    <li><i class="far fa-clock"></i> Operating Hours</li>
                    <li>Monday to Friday: <br>08:00 to 18:00</li>
                    <li>Saturday: <br>08:00 to 12:00</li>
                    <li>Closed on Sundays and PH</li>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <hr>
            <div class="col">
                <small class="text-white float-start copyright">&copy; CourseFinity, Inc. <span id="copyright_year"></span><noscript>2022</noscript></small>
                <small class="about_company float-end">
                    <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://twitter.com/" target="_blank" class="logo_margin"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.facebook.com/" target="_blank" class="logo_margin"><i class="fab fa-facebook"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
