<!DOCTYPE html>
<html lang="en">
<head>
    {% from "includes/_videoHelper.html" import video_styles, video_player, video_scripts, video_link %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video | CourseFinity</title>
    <link nonce= "{{ csp_nonce() }}" rel="stylesheet" href="{{ url_for('webAsset', filename='styles/error_document.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    {{ video_styles() }}
</head>
<body>
    <a href="/" class="fa fa-arrow-left"></a>
    <div class="error" style="padding:7.5vw 30vw;">
        {{ video_player() }}
        <p id="copyright_year">&copy; CourseFinity, Inc. <noscript>2022</noscript></p>
    </div>

    <script nonce="{{ csp_nonce() }}">
        let footerCopright = document.getElementById("copyright_year").appendChild(document.createTextNode(new Date().getFullYear()));
    </script>

    {{ video_scripts() }}
    {{ video_link(videoPath) }}

</body>
</html>