{% if accType == None %}
	{% extends "guest_base.html" %}
{% elif accType == "Admin" %}
	{% extends "admin_base.html" %}
{% else %}
	{% extends "user_base.html" %}
{% endif %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/rating.css') }}">
<div class="container-lg">
    <div class="row">
        
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="">{{ teacherName }}</a></li>
                <li class="breadcrumb-item active"><a href="">All Courses</a></li>
                <li class="breadcrumb-item active" aria-current="page"> {{ courseName }}</li>
            </ol>
        </nav>

        <div class="table-responsive-lg">
            <table class="table table-borderless">
                <tr></tr>
            </table>
        </div>
    </div>
</div>
<div class="container-lg">
    <!-- 
    <div class="row">
            <iframe width="1200" height="600" frameborder="0" src="{{ courseVideoPath }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen   >
            </iframe>
    </div>
    -->
</div>

<div class="container-lg">
    <div class="row">
        <div class="col-lg-8">
            <h1>{{ courseName }}</h1>
            <hr>
            <p>{{ courseDescription | safe }}</p>
            <p>Course Structure</p>
        </div>
        <div class="col-lg-4">
            </button>
            <img src="{{ course_image_path }}" alt="Video Thumbnail" class="img-thumbnail" >
            <p>Uploaded by: 
                <div>            
                    <img src="{{ teacherProfilePath }}" class="rounded-circle" alt="User Image" width="50" height="50">
                    {{ teacherName }}
                </div></p>
            <p>Date Published: {{courseDate}}</p>
            <p>Course Rating: 
                {% if (courseRatingCount > 0) %}
                <span class="ratings">
                    {% with remainingStars = 5 - courseRating %}
                        {% for _ in range(courseRating) %}
                            <span class="fas fa-star"></span>
                        {% endfor %}
                        {% for _ in range(remainingStars) %}
                            <span class="far fa-star"></span>
                        {% endfor %}
                    {% endwith %}
                </span> 
                {% else %}
                <p class="card-text text-danger">No ratings yet...</p>
                {% endif %}
            </p>
            <p>Number of reviews: {{courseRatingCount}} </p>
            <p>Course Price: ${{coursePrice}}</p>
            <p>Course Type: <span>{{ courseCategory }}</span></p>
            <button type="button" class="btn btn-success">Add to Cart</button>

            <hr>
        </div>
        <div class="col-lg-8">
            <h1>Reviews</h1>
            {% for review in reviewList %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        
                        <img src="{{ review.profile_image }}" class="rounded-circle" alt="User Image" width="50" height="50">
                        {{review.username}}
                        <div class="ratings">
                            {% with remainingStars = 5 - review.rating %}
                                {% for _ in range(review.rating) %}
                                    <span class="fas fa-star"></span>
                                {% endfor %}
                                {% for _ in range(remainingStars) %}
                                    <span class="far fa-star"></span>
                                {% endfor %}
                            {% endwith %}
                        </div> <!-- Username -->
                    </h5>
                    <p class="card-text">{{review.review}}</p>
                </div>
            {% endfor %}
        </div>
    </div> 
</div>

    
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/course_page.css') }}">
{% endblock %}

    
