{% if accType == None %}
	{% extends "guest_base.html" %}
{% elif accType == "Admin" %}
	{% extends "admin_base.html" %}
{% else %}
	{% extends "user_base.html" %}
{% endif %}

{% block head %}
<link nonce="{{ csp_nonce() }}" rel="stylesheet" href="{{ url_for('webAsset', filename='styles/course_page.css') }}">
<link nonce="{{ csp_nonce() }}" rel="stylesheet" href="{{ url_for('webAsset', filename='styles/rating.css') }}">
{% endblock %}
{% block title %} {{ courses.courseName }} | CourseFinity{% endblock %}
{% from "includes/_add_to_cart_btn.html" import add_to_cart_btn %}

{% block content %}
<div class="container-md course-container">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('generalBP.teacherPage', teacherID=courses.teacherID) }}">{{ courses.teacherUsername }}</a></li>
                    <li class="breadcrumb-item active"><a href="{{ url_for('generalBP.allCourses', teacherID=courses.teacherID) }}">All Courses</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> {{ courses.courseName }}</li>
                </ol>
            </nav>
        </div>
        <div class="col-lg-8">
            <h1>{{ courses.courseName }}</h1>
            <hr>
            <p>{{ courseDescription }}</p>
        </div>
        <div class="col-lg-4">
            </button>
            <img src="{{ courses.courseImagePath }}" alt="Video Thumbnail" class="img-thumbnail" >
            <p>Uploaded by: 
                <div>            
                    <img src="{{ teacherProfilePath }}" class="rounded-circle" alt="User Image" width="50" height="50">
                    {{ courses.teacherUsername }}
                </div>
            </p>
            <p>Date Published: {{courses.dateCreated}}</p>
            <p>Course Rating: 
                {% if (courses.averageRating > 0) %}
                    <span class="ratings">
                        {% with remainingStars = 5 - courses.averageRating %}
                            {% for _ in range(courses.averageRating) %}
                                <span class="fas fa-star"></span>
                            {% endfor %}
                            {% for _ in range(remainingStars) %}
                                <span class="far fa-star"></span>
                            {% endfor %}
                        {% endwith %}
                    </span> 
                {% else %}
                    <p class="card-text text-danger">No ratings yet...</p>
                {% endif %}
            </p>
            <p>Number of reviews: </p>
            <p>Course Price: ${{ courses.coursePrice }}</p>
            <p>Course Category: <span>{{ courses.courseCategory }}</span></p>
            <hr>
            <div>
                {{ add_to_cart_btn(
                    course=courses,
                    courseUserState={"purchased": purchased, "isInCart": isInCart}, 
                    accType=accType,
                    alignBtn=None
                ) }}
            </div>
        </div>
        <hr class="mt-3">
        <div class="col-lg-8 pt-3">
            {% if reviewList %}
                <h3>Reviews</h3>
                {% for review in reviewList %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <img src="{{ review.profile_image }}" class="rounded-circle" alt="User Image" width="50" height="50">
                                {{review.username}}
                                <div class="ratings">
                                    {% with remainingStars = 5 - review.rating %}
                                        {% for _ in range(review.rating) %}
                                            <span class="fas fa-star"></span>
                                        {% endfor %}
                                        {% for _ in range(remainingStars) %}
                                            <span class="far fa-star"></span>
                                        {% endfor %}
                                    {% endwith %}
                                </div>
                            </h5>
                            <p class="card-text">
                                {{ review.review }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h3>There are currently no reviews...</h3>
        {% endif %}
    </div> 
</div>
{% endblock %}