{% if accType == None %}
	{% extends "guest_base.html" %}
{% elif accType == "Admin" %}
	{% extends "admin_base.html" %}
{% else %}
	{% extends "user_base.html" %}
{% endif %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/rating.css') }}">
<div class="container-lg">
    <div class="row">
        
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="">{{ teacherName }}</a></li>
                <li class="breadcrumb-item active"><a href="">All Courses</a></li>
                <li class="breadcrumb-item active" aria-current="page"> {{ courseName }}</li>
            </ol>
        </nav>

        <div class="table-responsive-lg">
            <table class="table table-borderless">
                <tr></tr>
            </table>
        </div>
    </div>
</div>
<div class="container-lg">
    <!-- 
    <div class="row">
            <iframe width="1200" height="600" frameborder="0" src="{{ courseVideoPath }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen   >
            </iframe>
    </div>
    -->
</div>

<div class="container-lg">
    <div class="row">
        <div class="col-lg-8">
            <h1>{{ courseName }}</h1>
            <hr>
            <p>Description</p>
            <p>{{ courseDescription }}</p>
            <h3>Course Structure</h3>
            <p>Insert Courses</p>
        </div>
        <div class="col-lg-4">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <h4>Description</h4>
                        </button>
                        </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body"> 
                            <p>Course Type: <span>{{ courseCategory }}</span></p>
                            <p>Uploaded by: <span>{{ teacherName }}</span></p>
                            <p>Date Published: {{courseDate}}</p>
                            <p>Course Rating: 
                                {% if (courseRatingCount > 0) %}
                                <span class="ratings">
                                    {% with remainingStars = 5 - courseRating %}
                                        {% for _ in range(courseRating) %}
                                            <span class="fas fa-star"></span>
                                        {% endfor %}
                                        {% for _ in range(remainingStars) %}
                                            <span class="far fa-star"></span>
                                        {% endfor %}
                                    {% endwith %}
                                </span> 
                                {% else %}
								<p class="card-text text-danger">No ratings yet...</p>
								{% endif %}
                            </p>
                            <p>Number of reviews: {{courseRatingCount}} </p>
                            <p>Course Price: ${{coursePrice}}</p>
                            <hr>
                            <p>Description</p>
                            {% filter markdown %}
                                {{ courseDescription }}
                            {% endfilter %}
                            <p>{{ courseDescription }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <p>Hello</p>
            {% for review in reviewList %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{review.username}}</h5> <!-- Username -->
                    

                
                    <p class="card-text">{{review.rating}}</p> <!-- Rating -->
                    <p class="card-text"><small class="text-muted">{{review}}</small></p> <!-- Date -->
                </div>
                <div class="ratings">
                    {% with remainingStars = 5 - review.rating %}
                        {% for _ in range(review.rating) %}
                            <span class="fas fa-star"></span>
                        {% endfor %}
                        {% for _ in range(remainingStars) %}
                            <span class="far fa-star"></span>
                        {% endfor %}
                    {% endwith %}
                </div>
            {% endfor %}
        </div>
    </div> 
</div>

    
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/course_page.css') }}">
{% endblock %}

    
