{% if accType == None %}
	{% extends "guest_base.html" %}
{% elif accType == "Admin" %}
	{% extends "admin_base.html" %}
{% else %}
	{% extends "user_base.html" %}
{% endif %}

{% block head %}<link nonce="{{ csp_nonce() }}" rel="stylesheet" href="{{ url_for('static', filename='styles/policy.css') }}">{% endblock %}
{% block title %}Community Guidelines | CourseFinity{% endblock %}

{% block content %}
<div class="container policy text-break">

    <h3>How Does CourseFinity Work? FAQ</h3>

    <p>Last Updated: 12 February 2022</p>

    <p>CourseFinity's mission is to create new possibilities for people and organizations everywhere. Our global marketplace features an extensive, multi-language library, which includes a huge range of courses taught by real-world experts. You can take courses across a wide range of categories, some of which include: business & entrepreneurship, programming, academics, the arts, health & fitness, language, music and much more!</p>

    <p>Below are answers to some of the frequently asked questions we receive about how CourseFinity works.</p>

    <li><a href="#faq1">What do CourseFinity courses include?</a></li>
    <li><a href="#faq2">How do I take a CourseFinity Course?</a></li>
    <li><a href="#faq3">Do I have to start my CourseFinity course at a certain time? And how long do I have to complete it?</a></li>
    <li><a href="#faq4">How can I pay for a course?</a></li>
    <li><a href="#faq5">What if I don’t like a course I purchased?</a></li>
    <li><a href="#faq6">Where can I go for help?</a></li>

    <h5 class="mt-3" id="faq1">What do CourseFinity courses include?</h5>
    <p>Each CourseFinity course is created, owned and managed by the instructor(s). The foundation of each CourseFinity course are its lectures videos, which usually contain slides and/or text.</p>

    <h5 id="faq2">How do I take a CourseFinity course?</h5>
    <p>CourseFinity video courses are entirely on-demand. You can begin the course whenever you like, and there are no deadlines to complete it.</p>

    <p>CourseFinity courses can be accessed from several different devices and platforms, including desktop, laptop, and via mobile.</p>

    <p>After you enroll in a course, you can begin to access the course by logging in and navigating to your <a href="{{ url_for('userBP.purchaseHistory') }}">Purchase History</a> page.</p>

    <h5 id="faq3">Do I have to start my CourseFinity course at a certain time? And how long do I have to complete it?</h5>
    <p>As noted above, there are no deadlines to begin or complete the course. Even after you complete the course you will continue to have access to it, provided that your account’s in good standing, and CourseFinity continues to have a license to the course.</p>

    <p>If not possible, please <a href="{{ url_for('generalBP.contactUs') }}">contact us</a> to solve this issue immediately.</p>

    <h5 id="faq4">How can I pay for a course?</h5>
    <p>CourseFinity's payment system is powered by Stripe, though standard charges may apply. More information on Stripe's charging system can be found <a rel="noopener" href="https://stripe.com/en-sg/pricing">here</a>.</p>

    <h5 id="faq5">What if I don’t like a course I purchased?</h5>
    <p>Unfortunately, once a course has been purchased, a refund is no longer possible. As such, please ensure that you are satisfied with the course you want.</p>

    <h5 id="faq5">Where can I go for help?</h5>
    <p>If you bought a video course and find issues with it, you can voice out your concerns by leaving a course review for the teacher.</p>

    <p>Alternatively, if the issue is not course specific and cannot be found here, our <a href="{{ url_for('generalBP.contactUs') }}">Support Team</a> is always happy to help!</p>

{% endblock %}
