{% if accType == None %}
	{% extends "guest_base.html" %}
{% elif accType == "Admin" %}
	{% extends "admin_base.html" %}
{% else %}
	{% extends "user_base.html" %}
{% endif %}

{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/search.css') }}">{% endblock %}
{% block title %}Search | CourseFinity{% endblock %}

{% block content %}
<div class="container">
    <h2 class="display-5" style="overflow:auto;">You Searched For "{{ searchInput }}"</h2>
    {% if (foundResultsLen < 1) %}
        <div class="row">
            <div class="col">
                <h4 class="display-5">No Course Found</h4>
            </div>
        </div>
    {% else %}
        {% for results in foundResults %}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        {% if (results.course_image_path == None) %}
                            <img src="{{ url_for('static', filename='images/courses/placeholder.webp') }}" class="resize img-fluid rounded float-start" alt="Course Thumbnail">
                        {% else %}
                            <img src="{{ url_for('static', filename='images/course_thumbnails/' ~ results.course_image_path) }}" class="resize img-fluid rounded float-start" alt="Course Thumbnail">
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">{{ results.course_name }}</a></h5>
                            <p class="card-text">{{ results.course_description }}</p>
                            <p class="card-text">
                                <small class="text-muted">
                                    {% if (results.rating_count > 0) %}
                                    <div class="ratings">
                                        {% with remainingStars = 5 - results.average_rating %}
                                            {% for _ in range(results.average_rating) %}
                                                <span class="fas fa-star"></span>
                                            {% endfor %}
                                            {% for _ in range(remainingStars) %}
                                                <span class="far fa-star"></span>
                                            {% endfor %}
                                        {% endwith %}
                                    </div>
                                    {% else %}
                                    <p class="card-text text-danger">No ratings yet...</p>
                                    {% endif %}
                                </small>
                            </p>
                            <p class="card-text">
                                {% if (not results.dicebear_profile_image) %}
                                    <img src="{{ url_for('static', filename='images/course_thumbnails/' ~ results.teacher_profile_image) }}" id="user_profile" alt="Profile Icon">
                                {% else %}
                                    <img src="{{ results.teacher_profile_image }}" id="user_profile" alt="Profile Icon">
                                {% endif %}
                                {{ results.teacher_name }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="center">
            <div class="pagination">
                {% if currentPage != 1 %}
                    <a href="{{ url_for('generalBP.search')}}?q={{searchInput}}&p={{currentPage - 1}}">&laquo;</a>
                {% endif %}
                {% for i in range(maxPage + 1) %}
                    {% if i == currentPage %}
                        <a class="active" href="">{{ i }}</a>
                    {% else %}
                        <a href="{{ url_for('generalBP.search') }}?q={{searchInput}}&p={{i}}">{{ i }}</a>
                    {% endif %}
                {% endfor %}
                {% if currentPage != maxPage %}
                    <a href="{{ url_for('generalBP.search')}}?q={{searchInput}}&p={{currentPage + 1}}">&raquo;</a>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}