{% if accType == None %}
	{% extends "guest_base.html" %}
{% elif accType == "Admin" %}
	{% extends "admin_base.html" %}
{% else %}
	{% extends "user_base.html" %}
{% endif %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/teacher_page.css') }}">
{% endblock %}

{% block title %}{{ teacherUsername }}'s Page | CourseFinity{% endblock %}

{% block content %}
<div class="container">
    <div class="container row">
        <div class="col card w-90 mb-3 border bg-light">
            <div class="row">
                <div id="pfp" class="col-md-3">
					<img src="{{ teacherProfilePath }}" alt="{{ teacherUsername }}'s Profile Icon" id="user-icon-setting">
                </div>
				<div class="col-md-9">
					<h1>Welcome to {{ teacherUsername }}'s page!</h1>
				</div>
            </div>
        </div>
    </div>
    <div class="row">
		<h2 class="headings">Highly Rated</h2>
		<div class="row row-cols-1 row-cols-md-3 g-4">
			{% if (threeHighlyRatedCoursesLen < 1) %}
				<div class="col">
					<div class="card text-dark bg-light h-100">
						<img src="{{ url_for('static', filename='images/courses/placeholder.webp') }}" class="card-img-top" alt="Course Thumbnail">
						<div class="card-body">
							<h4 class="card-title">No Course Available</h4>
							<p class="card-text">Sorry, there are currently no courses available.</p>
						</div>
					</div>
				</div>
			{% else %}
				{% for course in threeHighlyRatedCourses %}
					<div class="col">
						<div class="card text-dark bg-light h-100">
							{% if (course.courseImagePath == None) %}
								<img src="{{ url_for('static', filename='images/courses/placeholder.webp') }}" class="card-img-top" alt="Course Thumbnail">
							{% else %}
								<img src="{{ course.courseImagePath }}" class="card-img-top" alt="Course Thumbnail">
							{% endif %}
							<div class="card-body">
								<h4 class="card-title">{{ course.courseName }}</h4>
								<a href="{{ url_for('generalBP.teacherPage', teacherID=course.teacherID) }}"><small class="text-muted">By {{ course.teacherUsername }}</small></a>
								<p class="card-text">{{ course.courseDescription }}</p>
								<p class="card-text fw-bold">Price: {{ course.coursePrice }}</p>
								{% if (course.averageRating > 0) %}
								<div class="ratings">
									{% with remainingStars = 5 - course.averageRating %}
										{% for _ in range(course.averageRating) %}
											<span class="fas fa-star"></span>
										{% endfor %}
										{% for _ in range(remainingStars) %}
											<span class="far fa-star"></span>
										{% endfor %}
									{% endwith %}
								</div>
								{% else %}
								<p class="card-text text-danger">No ratings yet...</p>
								{% endif %}
							</div>
							<div class="card-footer">
								{% if (accType == None) %}
									<a href="{{ url_for('guestBP.login') }}" class="btn btn-success float-end">
										<i class="fas fa-cart-plus fa-lg"></i> Add to Cart
									</a>
								{% elif (accType == "Admin") %}
									<button type="button" class="btn btn-success float-end">Admin cannot add to cart!</button>
								{% else %}
									{% if (course.course_id in userPurchasedCourses) %}
										<a action="{{ url_for('userBP.purchaseDetails', courseID=course.courseID) }}" class="btn btn-success float-end">
											<i class="fas fa-shopping-bag"></i> View Purchase
										</a>
									{% else %}
										<form action="{{ url_for('userBP.addToCart', courseID=course.courseID) }}" method="POST">
											<input name="courseID" type="hidden" value="{{ course.courseID }}">
											<button type="submit" class="btn btn-success float-end"><i class="fas fa-cart-plus fa-lg"></i> Add to Cart</button>
										</form>
									{% endif %}
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
	<div class="row">
		<h2 class="headings">Newly Uploaded Videos</h2>
		<div class="row row-cols-1 row-cols-md-3 g-4">
			{% if (latestThreeCoursesLen < 1) %}
				<div class="col">
					<div class="card text-dark bg-light h-100">
						<img src="{{ url_for('static', filename='images/courses/placeholder.webp') }}" class="card-img-top" alt="Course Thumbnail">
						<div class="card-body">
							<h4 class="card-title">No Course Available</h4>
							<p class="card-text">Sorry, there are currently no courses available.</p>
						</div>
					</div>
				</div>
			{% else %}
				{% for course in latestThreeCourses %}
					<div class="col">
						<div class="card text-dark bg-light h-100">
							{% if (course.courseImagePath == None) %}
								<img src="{{ url_for('static', filename='images/courses/placeholder.webp') }}" class="card-img-top" alt="Course Thumbnail">
							{% else %}
								<img src="{{ course.courseImagePath }}" class="card-img-top" alt="Course Thumbnail">
							{% endif %}
							<div class="card-body">
								<h4 class="card-title"><a href="{{ url_for('generalBP.coursePage', courseID=course.courseID) }}">{{ course.courseName }}</a></h4>
								<a href="{{ url_for('generalBP.teacherPage', teacherID=course.teacherID) }}"><small class="text-muted">By {{ course.teacherUserame }}</small></a>
								<p class="card-text">{{ course.courseDescription }}</p>
								<p class="card-text fw-bold">Price: {{ course.coursePrice }}</p>
								{% if (course.averageRating > 0) %}
								<div class="ratings">
									{% with remainingStars = 5 - course.averageRating %}
										{% for _ in range(course.averageRating) %}
											<span class="fas fa-star"></span>
										{% endfor %}
										{% for _ in range(remainingStars) %}
											<span class="far fa-star"></span>
										{% endfor %}
									{% endwith %}
								</div>
								{% else %}
								<p class="card-text text-danger">No ratings yet...</p>
								{% endif %}
							</div>
							<div class="card-footer">
								{% if (accType == None) %}
									<a href="{{ url_for('guestBP.login') }}" class="btn btn-success float-end">
										<i class="fas fa-cart-plus fa-lg"></i> Add to Cart
									</a>
								{% elif (accType == "Admin") %}
									<button type="button" class="btn btn-success float-end">Admin cannot add to cart!</button>
								{% else %}
									{% if (course.courseID in userPurchasedCourses) %}
										<a action="{{ url_for('userBP.purchaseDetails', courseID=course.courseID) }}" class="btn btn-success float-end">
											<i class="fas fa-shopping-bag"></i> View Purchase
										</a>
									{% else %}
										<form action="{{ url_for('userBP.addToCart', courseID=course.courseID) }}" method="POST">
											<input name="courseID" type="hidden" value="{{ course.courseID }}">
											<button type="submit" class="btn btn-success float-end"><i class="fas fa-cart-plus fa-lg"></i> Add to Cart</button>
										</form>
									{% endif %}
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}