{% extends "user_base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user_profile.css') }}">
{% endblock %}

{% block title %}Payment Settings | CourseFinity{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<div class="container container_margin">
    <div class="row">
        <div class="col-lg-3 merge-boxes">
            <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" id="left-user">
                <h4><span class="fs-4">My Account</span></h4>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="{{ url_for('userProfile') }}" class="nav-link text-white">
                            Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('paymentSettings') }}" class="nav-link text-white active-custom">
                            Payment Method
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-9 merge-boxes">
            <div id="right-user">
                <div class="container">
                    <div class="row">
                        <div class="card">
                            <h4 class="card-title margin-top">Add Payment Method</h4>
                            <div class="card-body">
                                <form action="" method="POST">
                                    <div class="col flex-wrap">
                                        <div class="accepted_cards">
                                            <img src="{{ url_for('static', filename='images/payment/visa.svg') }}" alt="Visa logo" class="payment_logo">
                                            <img src="{{ url_for('static', filename='images/payment/mastercard.svg') }}" alt="Mastercard logo" class="payment_logo">
                                            <img src="{{ url_for('static', filename='images/payment/american_express.svg') }}" alt="American Express logo" class="payment_logo">
                                        </div>
                                    </div>
                                    <div class="col">
                                        {{ render_field(form.cardName, class="form-control", placeholder="John Doe") }}
                                    </div>
                                    <div class="col margin-top margin-top2">
                                        {{ render_field(form.cardNo, class="form-control", placeholder="4111111111111111") }}
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 margin-top margin-top2">
                                            {{ render_field(form.cardExpiry, class="form-control", placeholder="04/22 or 4/2022") }}
                                        </div>
                                        <div class="col-md-6 margin-top margin-top2">
                                            {{ render_field(form.cardCVV, class="form-control", placeholder="123") }}
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success margin-top margin-top2 float-end">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}