{% extends "user_base.html" %}
{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/purchasereview.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/breadcrumb.css') }}"><link rel="stylesheet" href="{{ url_for('static', filename='styles/rating.css') }}">{% endblock %}
{% block title %}Purchase Review | CourseFinity{% endblock %}
{% from "includes/_formHelper.html" import render_field %}

{% block content %}
<div class="container">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/purchasehistory/{{pageNum}}">Purchase History</a></li>
			<li class="breadcrumb-item active" aria-current="page">Review</li>
		</ol>
	</nav>
	<div class="box">
		<div>
			<form action="" method="POST">
				<div class="row">
					<div class="col-sm-6">
						<h2>Create a review (Less than 200 words):</h2>
					</div>
					<div class="col-sm-6 float-end text-end">
						<h2>Leave a rating:</h2>
						<div class="rate float-end">
							<input type="radio" id="star5" name="rate" value="5">
							<label for="star5" title="text">5 stars</label>
							<input type="radio" id="star4" name="rate" value="4">
							<label for="star4" title="text">4 stars</label>
							<input type="radio" id="star3" name="rate" value="3" checked>
							<label for="star3" title="text">3 stars</label>
							<input type="radio" id="star2" name="rate" value="2">
							<label for="star2" title="text">2 stars</label>
							<input type="radio" id="star1" name="rate" value="1">
							<label for="star1" title="text">1 star</label>
							<br>
						</div>
					</div>
				</div>
				<div>
					{{ render_field(form.title, class="form-control") }}
					<br>
					{{ render_field(form.review, class="form-control", rows="10") }}
					<br>
				</div>
				<div>
					<button type="submit" class="btn btn-primary mb-2" style="float:right;">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}