h4 {
  margin-top:50px;
}

h2{
  text-align:center;
  margin-bottom:50px;
}
.card{
  margin-left:auto;
  margin-right:auto;
  margin-bottom:50px;
}
.card img{
  margin-top:auto;
  margin-bottom:auto;
}

.casing {
  max-width: 1100px; 
  margin-bottom:50px;
}