{% extends "user_base.html" %}
{% block head %}
    <link nonce="{{ csp_nonce() }}" rel="stylesheet" href="{{ url_for('static', filename='styles/login_sign_up.css') }}">
    <script nonce="{{ csp_nonce() }}" src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
    <script nonce="{{ csp_nonce() }}" src="https://www.google.com/recaptcha/enterprise.js?render=6Lc4X8EgAAAAAHxgPuly7X-soqiIZjU6-PBbkXsw"></script>
{% endblock %}
{% block title %}Backup Codes | CourseFinity{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                {% for category, message in messages %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="alertModalLabel">{{ category }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h6>{{ message }}</h6>
                    </div>
                {% endfor %}
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Confirm</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endwith %}

<form action="" method="POST" id="generateCodesForm" class="modalForm">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="action" value="generate_codes">
    <div class="modal fade" id="generateNewCodesModal" tabindex="-1" aria-labelledby="generateNewCodesModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="generateNewCodesModalLabel">Generate New Backup Codes?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h6>Are you sure that you want to generate a new set of backup codes for this account?</h6>
                    <h6 class="text-danger">Warning: The old set of backup codes will not be in use anymore.</h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                    <button data-action="generate_backup_codes" data-callback="onSubmit" data-sitekey="6Lc4X8EgAAAAAHxgPuly7X-soqiIZjU6-PBbkXsw" class="g-recaptcha btn btn-danger btn-block" id="login">Generate New Codes</button>
                </div>
            </div>
        </div>
    </div>
</form>

<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
</svg>

<div class="container">
    <div class="row">
        <div class="LSUForm col">
            <div class="bg-dark p-4 rounded" id="userForm">
                <h4 class="text-white">Two-factor backup codes</h4>
                <div class="col-12">
                    <p class="text-white">
                        Backup codes can be used to access your account in the event you lose access to your device and cannot receive two-factor authentication codes.
                    </p>
                </div>
                <div class="alert alert-warning d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div>
                        Store these backup codes somewhere safe. If you do not have these backup codes and lost access to your 2FA codes, you will lose access to your account.
                    </div>
                </div>
                <ul class="list-group">
                    {% for backupCode, status in backupCodes %}
                        {% if status != "Active" %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span class="text-decoration-line-through backupCodeUsed">
                                    {{ backupCode }}
                                </span>
                                <span class="badge bg-danger rounded-pill">Used</span>
                            </li>
                        {% else %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span class="backupCodeActive">{{ backupCode }}</span>
                                <span class="badge bg-success rounded-pill">Active</span>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <div class="col-12 pt-2 d-flex justify-content-end">
                    <button class="btn btn-primary btn-block me-2" id="printCodes">
                        <i class="fas fa-print"></i> Print
                    </button>
                    <button class="btn btn-primary btn-block" id="downloadCodes">
                        <i class="fas fa-download"></i> Download Codes
                    </button>
                </div>
                <hr class="mt-4 text-white">
                <div class="col-12 text-white text-center">
                    <h6>Generate new backup codes</h6>
                    <p>When you generate new backup codes, your old codes won't work anymore and you must download or print the new codes.</p>
                </div>
                <div class="col-12 pt-2 d-flex justify-content-center">
                    <button class="btn btn-primary btn-block" data-bs-toggle="modal" data-bs-target="#generateNewCodesModal">
                        Generate New Codes
                    </button>
                </div>
                <hr class="mt-4 text-white">
                <div class="col-12 pt-4 pb-4">
                    <a href="{{ url_for('userBP.userProfile') }}" class="float-start form-buttons margin-top margin-top2 text-white"><i class="fas fa-arrow-left"></i> Back to profile</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <script nonce="{{ csp_nonce() }}">
            var alertModal = new bootstrap.Modal(document.getElementById("alertModal"), {});
            alertModal.show();
        </script>
        {% endif %}
    {% endwith %}
    <script nonce="{{ csp_nonce() }}">
        function onSubmit(token) {
            document.getElementById("generateCodesForm").submit();
        }
    </script>
    <script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='scripts/backup_codes.js') }}"></script>
{% endblock %}