{% extends "user_base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user_profile.css') }}">
{% endblock %}

{% block title %}Payment Settings | CourseFinity{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<div class="container container_margin">
    <div class="row">
        <div class="col-lg-3 merge-boxes">
            <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" id="left-user">
                <h4><span class="fs-4">My Account</span></h4>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="{{ url_for('userProfile') }}" class="nav-link text-white">
                            Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('paymentSettings') }}" class="nav-link text-white active-custom">
                            Payment Method
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-9 merge-boxes">
            <div id="right-user">
                <div class="container">
                    <div class="row">
                        <div class="card">
                            <h4 class="card-title margin-top">Edit Payment Details</h4>
                            <div class="card-body">
                                <div class="mb-3 row">
                                    <h6 for="cardName" class="col-md-2 col-form-label">Name on card:</h6>
                                    <div class="col-md-10">
                                        <h6 class="form-control-plaintext">{{ cardName }}</h6>
                                    </div>
                                </div>
                                <div class="col margin-top margin-top2">
                                    <div class="mb-3 row">
                                        <h6 for="cardName" class="col-md-2 col-form-label">Card number:</h6>
                                        <div class="col-md-10">
                                            <h6 class="form-control-plaintext">&#8226;&#8226;&#8226;&#8226;</h6>
                                        </div>
                                    </div>
                                </div>
                                <form action="" method="POST">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                                    <div class="row">
                                        <div class="col-md-12 margin-top margin-top2">
                                            {{ render_field(form.cardExpiry, class="form-control", placeholder="04/22 or 4/2022") }}
                                        </div>
                                    </div>
                                    <a href="{{ url_for('paymentSettings') }}" class="float-start form-buttons margin-top margin-top2"><i class="fas fa-arrow-left"></i> Back</a>
                                    <button type="submit" class="btn btn-success margin-top margin-top2 float-end form-buttons">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}