{% extends "user_base.html" %}
{% block content %}
<div class="container-lg">
    <div class="row">
        
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">{{ courses.teacherUsername }}</a></li>
            <li class="breadcrumb-item active"><a href="">All Courses</a></li>
            <li class="breadcrumb-item active" aria-current="page"> {{ courses.courseName }}</li>
        </ol>
    </nav>

    <div class="table-responsive-lg">
        <table class="table table-borderless">
            <tr></tr>
        </table>
    </div>

    <div class="container-lg">
        <div class="row">
            <video-js id="course-video" class="vjs-theme-forest vjs-matrix" poster="{{ None }}">
                <source src="{{ None }}" type="video/mp4">
                <p class="vjs-no-js">
                  To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
              </video-js>
        </div>
    </div>

    <div class="container-lg">
        <div class="row">
            <div class="col-lg-12">
                <h1>{{ courses.courseName }}</h1>
                <hr>
                
                <p>Uploaded by: <span><img src="{{ teacherProfilePath }}" class="rounded-circle" alt="User Image" width="50" height="50">{{ courses.teacherUsername }}</span></p>
                <p>Date Published: {{courses.dateCreated}}</p>
                <p>Course Type: <span>{{ courses.courseCategory }}</span></p>
                <p> Course Rating: {% if (courses.averageRating > 0) %}
                    <span class="ratings">
                        {% with remainingStars = 5 - courses.averageRating %}
                            {% for _ in range(courses.averageRating) %}
                                <span class="fas fa-star"></span>
                            {% endfor %}
                            {% for _ in range(remainingStars) %}
                                <span class="far fa-star"></span>
                            {% endfor %}
                        {% endwith %}
                    </span> 
                    {% else %}
                    <p class="card-text text-danger">No ratings yet...</p>
                    {% endif %} </p>
                <p> Rating Counts:  </p>
                <p>{{ courseDescription }}</p>
            </div>
        </div>
    
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <h4>Description</h4>
            </button>
            </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body"> 
                <p>Course Type: <span>{{ courseCategory }}</span></p>
                <p>Uploaded by: <span><img src="{{ teacherProfilePath }}" class="rounded-circle" alt="User Image" width="50" height="50">{{ courses.teacherUsername }}</span></p>
                <p>Date Published: {{courses.dateCreated}}</p>
                <p> Course Rating: {{courses.averageRating}}</p> / 5 </p>
                <p> Rating Counts:  </p>
                <hr> <!-- Not sure why hr doesnt appear-->
                <hr>
                <p>Description</p>
                <p>{{ courseDescription }}</p>
                

                

            </div>
        </div>
    </div>
    </div>
    </div>


</div>
    
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/course_page.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/video_js.css') }}">
<link href="https://vjs.zencdn.net/7.19.2/video-js.css" rel="stylesheet">
<link href="https://unpkg.com/@videojs/themes@1/dist/forest/index.css" rel="stylesheet">
{% endblock %}

{% block extra_js %}
<script src="https://vjs.zencdn.net/7.19.2/video.min.js"></script>
<script>
    videojs('course-video', {
        playbackRates: [0.5, 1, 1.5, 2],
        aspectRatio: "16:9",
        fluid: true,       //The video player
        responsive: true,  //The video controls
        autoplay: true,    //Or attempts to
        controls: true,
        preload: "auto",
    });
</script>
{% endblock %}