{% extends "user_base.html" %}
{% block head %}
<link nonce="{{ csp_nonce() }}" rel="stylesheet" href="{{ url_for('static', filename='styles/course_page.css') }}">
{% endblock %}

{% block content %}
{% from "includes/_videoHelper.html" import video_player %}
<div class="container-lg">
    {% if not isClientView %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% with purchaseHistURL = url_for("userBP.purchaseHistory") %}
                    {% if session.get("historyCurPage") %}
                        {% set purchaseHistURL = purchaseHistURL + "?p=" + session.get("historyCurPage") %}
                    {% endif %}
                    <li class="breadcrumb-item"><a href="{{ purchaseHistURL }}">Purchase History</a></li>
                {% endwith %}
                <li class="breadcrumb-item active" aria-current="page">{{ courses.courseName }}</li>
            </ol>
        </nav>
    {% endif %}
    {% if accType == "Teacher" and userID == teacherID %}
        <div class="container-lg mt-3">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="text-primary">This is the video preview of {{courses.courseName }}</h3>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="container-lg">
        <div class="row">
            {{ video_player(videoData) }}
        </div>
    </div>
    <div class="container-lg mt-3">
        <div class="row">
            <div class="col-lg-12">
                <h1><a href="{{ url_for('generalBP.coursePage', courseID=courses.courseID) }}">{{ courses.courseName }}</a></h1>
                <hr>
                <p>Uploaded by: 
                    <span>
                        <img src="{{ teacherProfilePath }}" class="rounded-circle" alt="User Image" width="50" height="50">
                        <a href="{{ url_for('generalBP.teacherPage', teacherID=courses.teacherID) }}">{{ courses.teacherUsername }}</a>
                    </span>
                </p>
                <p>Date Published: {{courses.dateCreated}}</p>
                <p>Course Category: <span>{{ courses.courseCategory }}</span></p>
                <p> Course Rating: 
                    {% if (courses.averageRating > 0) %}
                        <span class="text-warning">
                            {% with remainingStars = 5 - courses.averageRating %}
                                {% for _ in range(courses.averageRating) %}
                                    <span class="fas fa-star"></span>
                                {% endfor %}
                                {% for _ in range(remainingStars) %}
                                    <span class="far fa-star"></span>
                                {% endfor %}
                            {% endwith %}
                        </span> 
                    {% else %}
                        <p class="card-text text-danger">No ratings yet...</p>
                    {% endif %} </p>
                <p>Description:</p>
                <p>{{ courseDescription }}</p>
            </div>
        </div>
    </div>
    {% if accType == "Teacher" and userID == teacherID %}
        <div class="container-lg mt-3">
            <div class="row">
                <div class="col-lg-12">
                    <a href="{{ url_for('teacherBP.courseList') }}" class="btn btn-primary">Return back to Course Lists</a>
                    
                </div>
            </div>
        </div>
    {% endif %}
</div>
    
{% endblock %}

{% block extra_js %}
    {% from "includes/_videoHelper.html" import video_scripts %}
    {% if videoData != None %}
        {{ video_scripts() }}
    {% endif %}
{% endblock %}