{% extends "user_base.html" %}

{% block head %}
<link nonce="{{ csp_nonce() }}" rel="stylesheet" href="{{ url_for('static', filename='styles/shopping_card_payment.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
{% endblock %}

{% block title %}Shopping Cart | CourseFinity{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<div id="shopping-title">
    <h4>Shopping Cart</h4>
    <hr>
</div>

{% if courseList != [] %}
    <div class="row g-0">
        <div class="col">
            {% if courseAddedTitle != None %}
                {% if status == "Success" %}
                <div>
                    <div class="alert-div alert alert-info alert-dismissible fade show" role="alert">
                        <div>
                            <i class="bi bi-info-circle"></i>
                        </div>
                        <div>
                            Course Titled '{{ courseAddedTitle }}' Added to Cart
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
                {% elif status == "Already in Cart" %}
                <div>
                    <div class="alert-div alert alert-warning alert-dismissible fade show" role="alert">
                        <div>
                            <i class="bi bi-exclamation-circle"></i>
                        </div>
                        <div>
                            Course Titled '{{ courseAddedTitle }}' Already In Cart
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
                {% elif status == "Already Purchased" %}
                <div>
                    <div class="alert-div alert alert-warning alert-dismissible fade show" role="alert">
                        <div>
                            <i class="bi bi-exclamation-circle"></i>
                        </div>
                        <div>
                            Course Titled '{{ courseAddedTitle }}' Already Purchased
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
                {% elif status == "Own Course" %}
                <div>
                    <div class="alert-div alert alert-danger alert-dismissible fade show" role="alert">
                        <div>
                            <i class="bi bi-exclamation-triangle"></i>
                        </div>
                        <div>
                            Own Course Titled '{{ courseAddedTitle }}' cannot be bought.
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
                {% endif %}
            {% endif %}

            <section class="h-100 h-custom">
                <div class="container h-100 py-5">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="h5">Courses</th>
                                            <th scope="col">Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for course in courseList %}
                                            <tr>
                                                <th scope="row" class="price-column">
                                                    <div class="d-flex align-items-center">
                                                        {% if (course.courseImagePath == None) %}
                                                            <img src="{{ url_for('static', filename='images/courses/placeholder.webp') }}" class="rounded course-thumbnail" alt="Course Thumbnail">
                                                        {% else %}
                                                            <img src= "{{ course.courseImagePath }}" class="rounded course-thumbnail" alt="Course Thumbnail">
                                                        {% endif %}
                                                        <div class="flex-column ms-4 rounded">
                                                            <h5>
                                                                <a href="{{ url_for('generalBP.coursePage', courseID=course.courseID) }}">
                                                                    {{ course.courseName }}
                                                                </a>
                                                            </h5>
                                                            <p>
                                                                <a class="text-muted" href="{{ url_for('generalBP.teacherPage', teacherID=course.teacherID) }}">
                                                                    By {{ course.teacherUsername }}
                                                                </a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </th>
                                                <td class="align-middle">
                                                    <p class="mb-0">US${{ course.coursePrice }}</p>
                                                    <form action="" method="POST">
                                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                                                        <input type="hidden" name="courseID" value="{{ course.courseID }}">
                                                        <button class="btn btn-link ps-4" type="submit" name="delete-course">
                                                            <i class="far fa-trash-alt delete-button"></i>
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <hr class="my-4">
                            <div class="col">
                                <div class="subtotal">
                                    {% if courseList | length == 1 %}
                                        <h5>Subtotal: US ${{ subtotal }}</h5>
                                    {% else %}
                                        <h5>Subtotal ({{ courseList | length }} items): US ${{ subtotal }}</h5>
                                    {% endif %}
                                </div>
                                <a href="{{ url_for('userBP.checkout') }}" id="checkout-button">
                                    <button type="button" class="btn btn-outline-warning">
                                        Proceed to Checkout
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% else %}
    {% if courseAddedTitle != None %}
        {% if status == "Already Purchased" %}
            <div class="div d-flex justify-content-center">
                <div class="alert-div alert alert-danger alert-dismissible fade show" role="alert">
                    <div>
                        <i class="bi bi-exclamation-triangle"></i>
                    </div>
                    <div>
                        Course Titled '{{ courseAddedTitle }}' Already Purchased
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        {% elif status == "Own Course" %}
            <div class="div d-flex justify-content-center">
                <div class="alert-div alert alert-warning alert-dismissible fade show" role="alert">
                    <div>
                        <i class="bi bi-exclamation-circle"></i>
                    </div>
                    <div>
                        Own Course Titled '{{ courseAddedTitle }}' cannot be bought.
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        {% endif %}
    {% endif %}
    <div class="empty-cart">
        <a href="/"><i class="fas fa-cart-plus"></i></a>
        <p>Seems like there isn't anything here. Continue Shopping?</p>
    </div>
{% endif %}
{% endblock %}