{% extends "user_base.html" %}
{% block head %}
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
<link nonce="{{ csp_nonce() }}" rel="stylesheet" href="{{ url_for('static', filename='styles/user_profile.css') }}">
{% endblock %}
{% block title %}Profile Settings | CourseFinity{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                {% for category, message in messages %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="alertModalLabel">{{ category }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h6>{{ message }}</h6>
                    </div>
                {% endfor %}
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Confirm</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endwith %}

<form action="{{ url_for('userBP.disableTwoFactorAuth') }}" method="POST" class="modalForm">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    <div class="modal fade" id="disable2FAModal" tabindex="-1" aria-labelledby="disable2FAModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="disable2FAModalLabel">Disable 2FA?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h6>Are you sure that you want to disable 2FA for this account?</h6>
                    <h6 class="text-danger">Warning: You will not be prompted for 2FA code when logging in anymore.</h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Disable 2FA</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="container container_margin">
    <div class="row">
        {% include "includes/_user_sidebar.html" %}
        <div class="col-lg-9 merge-boxes">
            <div id="right-user">
                <div class="container res_padding_remove">
                    {# if emailVerification == False #}
                    <!--div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <h6>Looks like you have not verified your email, please verify by clicking <a class="text-danger fw-bold" href="/generate_verify_email_token">here...</a></h6>
                        <h6>Alternatively, you can check your email if you have recently signed up.</h6>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div-->
                    {# endif #}
                    <div class="row">
                        <div class="col-md-5 image-center">
                            <!---Dicebear uses Links so cannot use url_for-->
                            <img src="{{ imageSrcPath }}" alt="User Profile Icon" id="user-icon-setting">
                            {% if "https://storage.googleapis.com/coursefinity" in imageSrcPath %}
                                <form action="{{ url_for('userBP.deletePic') }}" method="POST">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                                    <input type="hidden" name="submittedForm" value="resetUserIcon">
                                    <button type="submit" id="submitResetProfileIcon" hidden></button>
                                </form>
                                <label for="submitResetProfileIcon" class="btn btn-link text-danger">
                                    Delete Profile Icon
                                </label>
                            {% endif %}
                            <div class="mb-9">
                                <button class="btn btn-primary" id="editProfileButton">Edit Profile Image</button>
                                <div id="imageForm" class="d-none pt-2">
                                    <form action="{{ url_for('userBP.uploadPic') }}" method="POST" enctype="multipart/form-data">
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                                        <input type="file" id="myFile" name="profilePic" required> 
                                        <input class="btn btn-primary" id="editProfileButton" type="submit" value="Apply">
                                    </form>
                                    <!-- <form action="{{ url_for('userBP.uploadPic') }}" class="dropzone" method="POST" enctype="multipart/form-data" id="dropper">
                                        <div class="dz-default dz-message">
                                            <i class="fas fa-cloud-upload-alt upload-icon"></i>
                                            <br>
                                            <span>Click here or drop an image here</span>
                                        </div>
                                    </form> -->
                                    <!-- <form action="" method="POST" enctype="multipart/form-data" class="dropzone" id="dropper">
                                        <input type="hidden" name="submittedForm" value="image">
                                        <div class="dz-default dz-message">
                                            <i class="fas fa-cloud-upload-alt upload-icon"></i>
                                            <br>
                                            <span>Click here or drop an image here</span>
                                        </div>
                                        <button type="submit" id="submit-button" hidden>Save Profile Icon</button>
                                        <button class="" id="remove-pfp" hidden data-dz-remove>Reset</button>
                                    </form>
                                    <label for="submit-button" class="btn btn-success profile-icon float-end" >Upload</label>
                                    <label for="remove-pfp" class="btn btn-danger profile-icon float-end btn-margin">Cancel</label> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="table-responsive">
                                <table class="table margin-top">
                                    <tr>
                                        <td>
                                            <h6>Username:</h6>
                                        </td>
                                        <td>
                                            <h6 class="margin-btm" id="tooltipValueUsername" data-bs-toggle="tooltip"
                                            data-bs-placement="top" title="Copy to clipboard" class="profile_copy_text">
                                            {{ username}}
                                            </h6>
                                            <a href="{{ url_for('loggedInBP.updateUsername') }}">Change Username</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h6>Email:</h6>
                                        </td>
                                        <td>
                                            <h6 class="margin-btm" id="tooltipValueEmail"  data-bs-toggle="tooltip"
                                            data-bs-placement="top" title="Copy to clipboard"
                                            class="profile_copy_text">
                                            {{ email }}
                                            </h6>
                                            {% if loginViaGoogle != True %}
                                                <a href="{{ url_for('userBP.updateEmail') }}">Change Email</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h6>Account Type:</h6>
                                        </td>
                                        <td>
                                            <h6 class="margin-btm">{{ accType }}</h6>
                                            {% if accType == "Student" %}
                                            <span><a href="#" data-bs-toggle="modal" data-bs-target="#becomeTeacher">Become a Teacher!</a></span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% if loginViaGoogle != True %}
                                        <tr>
                                            <td>
                                                <h6>Password:</h6>
                                            </td>
                                            <td><a href="{{ url_for('userBP.updatePassword') }}">Change Password</a></td>
                                        </tr>
                                    {% endif %}
                                    {% if loginViaGoogle != True %}
                                        <tr>
                                            <td>
                                                <h6>Two Factor Authentication:</h6>
                                            </td>
                                            <td>
                                                {% if twoFAEnabled %}
                                                    <h6 class="text-success">Enabled</h6>
                                                    <button type="submit" class="btn btn-link text-danger ps-0 pt-0" data-bs-toggle="modal" data-bs-target="#disable2FAModal">
                                                        Disable 2FA
                                                    </button>
                                                    <br>
                                                    <a href="{{ url_for('userBP.showBackupCodes') }}">View Backup Codes</a>
                                                {% else %}
                                                    <h6 class="text-danger">Not Enabled</h6>
                                                    <a href="{{ url_for('userBP.twoFactorAuthSetup') }}">Enable 2FA</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                </table>
                            </div>
                            {% if accType == "Student" %}
                                <div class="modal fade" id="becomeTeacher" data-bs-backdrop="static"
                                    data-bs-keyboard="false" tabindex="-1" aria-labelledby="becomeTeacherLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="becomeTeacherLabel">Change account type to
                                                    teacher?</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure that you would like to become a teacher in CourseFinity?</p>
                                                <p>If so, please read the <a href="{{ url_for('generalBP.teacherHandBook') }}" target="_blank">Teacher's Handbook</a>
                                                    and any failure to comply with the rules written in the <a href="{{ url_for('generalBP.teacherHandBook') }}"
                                                        target="_blank">Teacher's Handbook</a> will result in <span
                                                        class="text-danger">termination</span> of your account.</p>
                                                <p class="text-danger">Warning: Changing of account type from teacher to
                                                    student is not possible. Hence, please consider this opportunity
                                                    seriously and carefully.</p>
                                                <p>Otherwise, please click the back button and continue to enjoy learning
                                                    various skills!</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Back</button>
                                                <form action="{{ url_for('userBP.changeAccountType') }}" method="POST">
                                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                                                    <input type="hidden" name="changeAccountType" value="changeToTeacher">
                                                    <button type="submit" class="btn btn-primary">Become a teacher!</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="border border-2 alert alert-light alert-dismissible fade show text-dark"
                                    role="alert">
                                    <h4>Did you know?</h4>
                                    <p>If you have a passion for teaching, you can become an educator on CourseFinity!</p>
                                    <p>CourseFinity will only take 25% of your monthly revenue. Additionally, for the first
                                        three months, you will earn 100% of your monthly revenue!</p>
                                    <p>Click on the button below or click on "Become a Teacher!" above!</p>
                                    <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal"
                                        data-bs-target="#becomeTeacher">Change account type</button>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='scripts/user_profile.js') }}"></script>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <script nonce="{{ csp_nonce() }}">
            var alertModal = new bootstrap.Modal(document.getElementById("alertModal"), {});
            alertModal.show();
        </script>
        {% endif %}
    {% endwith %}
    <script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='scripts/bootstrap_util.js') }}"></script>
    <script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='scripts/copy_to_clipboard.js') }}"></script>
{% endblock %}