{% extends "user_base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/create_course.css') }}">
{% endblock %}

{% block title %}Create Course | CourseFinity{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    {% for category, message in messages %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="alertModalLabel">{{ category }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h6>{{ message }}</h6>
                        </div>
                    {% endfor %}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endwith %}

<div class="container">
    <div class="row">
        <div class="LSUForm col">
            <div class="login-form bg-dark mt-4 p-4 rounded" id="userForm">
                <form action="" method="POST" class="row g-3 m-2" enctype="multipart/form-data">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="submittedForm" value="courseDetails">
                    <h4 class="text-white">Course Edit</h4>
                    <div class="col-md-4 border-end border-white">
                        <video width="400" height="200" class="embed-responsive-item embed-responsive-16by9" controls>
                            <source src="{{ videoPath }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <hr class="text-white">
                        <h6 class="text-white">Thumbnail:</h6>
                        <img id="thumbnail"
                        src="{{ imagePath }}"
                        alt="Your thumbnail will appear here" class="card-img-top" />
                    </div>
                    <div class="col-md-8">
                        <div class="row text-white col-md-12">
                            <div class="col-12 text-white">
                                {{ render_field(form.courseTitle, class="form-control", placeholder="Course Title") }}
                            </div>
                            <!-- Title -->
                            <div class="col-12 text-white">
                                {{ render_field(form.courseDescription, class="form-control", placeholder="Give a brief summary of the course...") }}
                            </div>

                            <div class="col-12 text-white">
                                <div class="col-md-6">
                                    <label for="formFile" class="form-label">Upload Lesson Thumbnail Here!</label>
                                    <input accept=".png, .jpg, .jpeg" name="courseThumbnail" class="form-control" required id="formFile" type='file'/>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-6">
                                <label for="course-tag" class="form-label text-white">Choose Your Course Category!</label>
                                <select id="browsers" class="form-select" name="courseTag" aria-label="Course Tag">
                                    <optgroup label="Development">
                                        <option value="Programming">Programming</option>
                                        <option value="Web_Development">Web Development</option>
                                        <option value="Game_Development">Game Development</option>
                                        <option value="Mobile_App_Development">Mobile App Development</option>
                                        <option value="Software_Development">Software Development</option>
                                        <option value="Other_Development">Other Development</option>
                                    </optgroup>
                                    <optgroup label="Business">
                                        <option value="Entrepreneurship">Entrepreneurship</option>
                                        <option value="Project_Management">Project Management</option>
                                        <option value="BI_Analytics">Business Intelligence & Analytics</option>
                                        <option value="Business_Strategy">Business Strategy</option>
                                        <option value="Other_Business">Other</option>
                                    </optgroup>
                                    <optgroup label="Design">
                                        <option value="3D_Modelling">3D Modelling</option>
                                        <option value="Animation">Animation</option>
                                        <option value="UX_Design">UX Design</option>
                                        <option value="Design_Tools">Design Tools</option>
                                        <option value="Other_Design">Other Design</option>
                                    </optgroup>
                                    <optgroup label="Photography">
                                        <option value="Digital_Photography">Digital Photography</option>
                                        <option value="Photography_Tools">Photography Tools</option>
                                        <option value="Video_Production">Video Production</option>
                                        <option value="Video_Design Tools">Video Design Tools</option>
                                        <option value="Other_Photography_Videography">Other Photography/Videography</option>
                                    </optgroup>
                                    <optgroup label="Academics">
                                        <option value="Science">Science</option>
                                        <option value="Math">Math</option>
                                        <option value="Language">Language</option>
                                        <option value="Other Academics">Other Academics</option>
                                    </optgroup>
                                </select>
                            </div>
                            <!-- coursePrice -->
                            <div class="col-md-6 text-white">
                                {{ render_field(form.coursePrice, class="form-control", placeholder="Course Price") }}
                            </div>
                        </div>


                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary float-end">Edit</button>
                        </div>
                    </div>
                </form>

                
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script nonce="{{ csp_nonce() }}" src="{{url_for('static', filename='scripts/create_course.js')}}"></script>
    <script nonce="{{ csp_nonce() }}">
        document.getElementById("formFile").onchange = function() {readURL(this);};
    </script>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script nonce="{{ csp_nonce() }}">
                var alertModal = new bootstrap.Modal(document.getElementById("alertModal"), {});
                alertModal.show();
            </script>
        {% endif %}
    {% endwith %}
{% endblock %}