{% extends "user_base.html" %}
{% block head %}
<link nonce="{{ csp_nonce() }}" rel="stylesheet" href="{{ url_for('static', filename='styles/course_list.css') }}">
{% endblock %}

{% block title %}
{% if accType == "Teacher" %}
    List Of Courses | CourseFinity
{% else %}
    Video Management | CourseFinity
{% endif %}
{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {% for category, message in messages %}
            <div class="modal-header">
                <h5 class="modal-title" id="alertModalLabel">{{ category }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>{{ message }}</h6>
            </div>
            {% endfor %}
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endwith %}

<div class="container">
<h4 class="display-5">Draft Courses Made</h4>

{% if courseListLen < 1 %}
    <div class="row">
        <div class="col">
            <h4 class="display-5">No Draft Courses Found</h4>
            <a class="btn btn-primary" href="{{ url_for('teacherBP.videoUpload') }}">Upload a Course!</a>
        </div>
    </div>
{% else %}
    {% for course in courseList %}
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img class="w-100" src="https://storage.googleapis.com/coursefinity/course-thumbnails/placeholder.webp" alt="Course Thumbnail">
                </div>
                {% set videoStatus = videoStatusList[loop.index0] %}
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">
                            DRAFT COURSE
                            {% if videoStatus not in ("ready", "Queued", "Processing") %}
                            <span class="float-end text-danger">&#9888;</span>
                            {% endif %}
                        </h4>
                        {% if videoStatus == "ready" %}
                            <span><a href="{{ url_for('teacherBP.createCourse', courseID=course.courseID ) }}" >Complete Course Creation</a></span>
                        {% elif videoStatus in ("Queued", "Processing") %}
                            <span class="text-muted">Video Processing...</span>
                        {% else %}
                            <span class="text-warning">{{ videoStatus }}</span>
                        {% endif %}
                        <span>
                            <button class="text-danger btn btn-link" data-bs-toggle="modal"
                            data-bs-target="#deleteCourse">Delete Draft</button>
                        </span>
                        <div class="modal fade" id="deleteCourse" data-bs-backdrop="static"
                        data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteCourseLabel"
                        aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteCourseLabel">Delete this course?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure that you would like to delete this course from the database</p>
                                        <p class="text-danger">Warning: Deletion of Course is IRREVERSIBLE</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Back</button>
                                        <form action="{{ url_for('teacherBP.draftCourseDelete') }}?cid={{course.courseID}}" method="POST">
                                            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                                            <button type="submit" class="btn btn-danger">Delete Course!</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <nav aria-label="Page navigation" class="d-flex justify-content-center">
        <ul class="pagination">
            {% with urlPath = url_for("teacherBP.draftCourseList") + "?p=" %}
                {% if currentPage != 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ urlPath }}1" aria-label="First Page">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">First Page</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{{ urlPath }}{{ currentPage - 1 }}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                {% endif %}
                {% for pageNum in paginationArr %}
                    {% if pageNum == currentPage %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="{{ urlPath }}{{ currentPage }}">{{ currentPage }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="{{ urlPath }}{{ pageNum }}">{{ pageNum }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if currentPage != maxPage %}
                    <li class="page-item">
                        <a class="page-link" href="{{ urlPath }}{{ currentPage + 1 }}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{{ urlPath }}{{ maxPage }}" aria-label="Last Page">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Last Page</span>
                        </a>
                    </li>
                {% endif %}
            {% endwith %}
        </ul>
    </nav>
{% endif %}
</div>
{% endblock %}

{% block extra_js %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script nonce="{{ csp_nonce() }}">
            var alertModal = new bootstrap.Modal(document.getElementById("alertModal"), {});
            alertModal.show();
        </script>
    {% endif %}
{% endwith %}
{% endblock %}