{% extends "user_base.html" %}
{% block head %}
<link nonce="{{ csp_nonce() }}" rel="stylesheet" href="{{ url_for('static', filename='styles/video_upload.css') }}">
<script nonce="{{ csp_nonce() }}" src="https://www.google.com/recaptcha/enterprise.js?render=6Lc4X8EgAAAAAHxgPuly7X-soqiIZjU6-PBbkXsw"></script>
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
{% endblock %}

{% block title %}Upload Video | CourseFinity{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                {% for category, message in messages %}
                <div class="modal-header">
                    <h5 class="modal-title" id="alertModalLabel">{{ category }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h6>{{ message }}</h6>
                </div>
                {% endfor %}
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Confirm</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endwith %}

<div class="container-sm">
    <div class="file__upload bg-dark">
		<div class="header">
			<p><i class="fa fa-cloud-upload fa-2x"></i><span><span>up</span>load</span></p>			
		</div>

        <form action="" method="POST" class="dropzone body" id="dropper" enctype="multipart/form-data">
            <!-- <input type="hidden" name="_csrf_token" value="{# csrf_token() #}"> -->
            <div class="dz-default dz-message">
                <i class="fas fa-cloud-upload-alt upload-icon"></i>
                <br>
                <strong>Drag and drop</strong> files here<br>
                or <span>browse</span> to begin the upload
            </div>
            <!-- <button id="submit-button" type="submit" class="btn btn-primary float-end">Upload</button> -->
            <!-- <button data-action="upload" data-callback="onSubmit" data-sitekey="6Lc4X8EgAAAAAHxgPuly7X-soqiIZjU6-PBbkXsw" class="g-recaptcha btn btn-primary float-end" id="upload">Upload</button> -->
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <script nonce="{{ csp_nonce() }}" src="{{url_for('static', filename='scripts/video_upload.js')}}"></script>
    <script nonce="{{ csp_nonce() }}">
        function onSubmit(token) {
            document.getElementById("dropper").submit();
        };
    </script>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script nonce="{{ csp_nonce() }}">
                var alertModal = new bootstrap.Modal(document.getElementById("alertModal"), {});
                alertModal.show();
            </script>
        {% endif %}
    {% endwith %}
{% endblock %}