/* typography css for all webpages except error pages */

h1, h2 {
	font-size: 2.5em;
}
h3, h4 { 
	font-size: 2em;
}
h5 {
	font-size: 1.5em;
}
p, h6, a, .cookiealert, li, label, td {
	font-size: 1em;
}

@media (max-width: 576px) {
	h1, h2 {
		font-size: 5vw;
	}
	h3, h4 {
		font-size: 4vw;
	}
	h5, .about_company a i {
		font-size: 3.5vw;
	}
	p, h6, a, .cookiealert, li, label, td {
		font-size: 3.5vw;
	}
}

@media (max-width: 350px) {
	h1, h2 {
		font-size: 7vw;
	}
	h3, h4 {
		font-size: 6vw;
	}
	h5, .about_company a i  {
		font-size: 5.5vw;
	}
	p, h6, a, .cookiealert, li, label, td {
		font-size: 5vw;
	}
}