{% extends "error_base.html" %}
{% block title %}402 Payment Required | CourseFinity{% endblock %}

{% block head %}
<meta http-equiv="refresh" content="5;url={{ url_for('userBP.shoppingCart') }}"/>
{% endblock %}

{% block content %}
<h1>402</h1>
<p>Your request requires payment to be resolved.</p>
{% endblock %}

{% block extra_js %}
<script nonce = "{{ csp_nonce() }}">
    window.setTimeout(function() {
        window.location.replace({{ url_for("userBP.shoppingCart") }});
    }, 5000);
</script>
{% endblock %}