<div class="form-check form-switch ms-1">
    <input class="form-check-input" type="checkbox" role="switch" data-bs-toggle="collapse" href="#collapsePassReq" aria-expanded="false" aria-controls="collapsePassReq"  id="passwordAdvice">
    <label class="form-check-label text-white" for="passwordAdvice">Show password advice</label>
</div>
<div class="col-12 progress thin-progress-bar">
    <div id="strengthIndicator" class="progress-bar bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="collapse" id="collapsePassReq">
    <div class="col-12 text-white d-flex justify-content-center">
        <ul class="list-unstyled">
            <div class="ps-4">
                <li>
                    <i id="uppercase" class="far fa-times-circle text-danger"></i>
                    Uppercase letter
                </li>
                <li>
                    <i id="lowercase" class="far fa-times-circle text-danger"></i>
                    Lowercase letter
                </li>
                <li>
                    <i id="number" class="far fa-times-circle text-danger"></i>
                    Number (0-9)
                </li>
                <li>
                    <i id="specialChar" class="far fa-times-circle text-danger"></i>
                    Special character
                </li>
                <li>
                    <i id="eightChar" class="far fa-times-circle text-danger"></i>
                    At least 8 characters
                </li>
                <li>
                    <i id="twoRepeatChar" class="far fa-times-circle text-danger"></i>
                    Not more than 2 repeating characters
                </li>
            </div>
        </ul>
    </div>
</div>