{% macro video_player(videoData) %}
    <div class="ratio ratio-16x9">
    {% if videoData == None %}
        <div class="d-flex justify-content-center align-items-center bg-light fs-5">
            Video in processing...
        </div>
    {% else %}
        <iframe src="https://player.vdocipher.com/v2/?otp={{ videoData['otp'] }}&playbackInfo={{ videoData['playbackInfo'] }}" allow="encrypted-media" allowfullscreen></iframe>
    {% endif %}
    </div>
{% endmacro %}

{% macro video_scripts() %}
    <script src="https://player.vdocipher.com/v2/api.js"></script>
    <script nonce="{{ csp_nonce() }}">
        const iframe = document.querySelector("iframe");
        const player = VdoPlayer.getInstance(iframe);
        player.video.addEventListener("play", function () {
            console.log("Video is playing");
        });
    </script>
{% endmacro %}