{% extends "admin_base.html" %}
{% block head %}<link nonce= "{{ csp_nonce() }}" rel="stylesheet" href="{{ url_for('static', filename='styles/user_profile.css') }}">{% endblock %}
{% block title %}Role Access Management | CourseFinity{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            {% for category, message in messages %}
            <div class="modal-header">
                <h5 class="modal-title" id="alertModalLabel">{{ category }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>{{ message }}</h6>
            </div>
            {% endfor %}
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Confirm</button>
            </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endwith %}

<div class="container container_margin">
    <div class="row">
        <div class="col-lg-3 merge-boxes">
            <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" id="left-user">
                <h4><span class="fs-4">SuperAdmin Dashboard</span></h4>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="{{ url_for('superAdminBP.adminManagement') }}" class="nav-link text-white">
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('adminBP.adminProfile') }}" class="nav-link text-white">
                            Account Settings
                        </a>
                    </li>
                
                    <li class="nav-item">
                        <a href="{{ url_for('superAdminBP.adminManagement') }}" class="nav-link text-white ">
                            Admin Management
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('superAdminBP.roleManagement') }}" class="nav-link text-white active-custom">
                            Role Base Management
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-9 merge-boxes">
            <div id="right-user">
                <div class="container">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <td>Role Name</td>
                                    <td>Guest Routes</td>
                                    <td>General Routes</td>
                                    <td>Admin Routes</td>
                                    <td>Logged in Routes</td>
                                    <td>Error Routes</td>
                                    <td>Teacher Routes</td>
                                    <td>User Routes</td>
                                    <td>SuperAdmin Routes</td>
                                </tr>
                                {% for role in roleList %}
                                    <tr>
                                        <td>{{ role.roleName }}</td> 
                                        {% if role.guestBP %}
                                            <td class="text-success">Enabled</td>
                                        {% else %}
                                            <td class="text-danger">Disabled</td>
                                        {% endif %}

                                        {% if role.generalBP %}
                                            <td class="text-success">Enabled</td>
                                        {% else %}
                                            <td class="text-danger">Disabled</td>
                                        {% endif %}

                                        {% if role.adminBP %}
                                            <td class="text-success">Enabled</td>
                                        {% else %}
                                            <td class="text-danger">Disabled</td>
                                        {% endif %}

                                        {% if role.loggedInBP %}
                                            <td class="text-success">Enabled</td>
                                        {% else %}
                                            <td class="text-danger">Disabled</td>
                                        {% endif %}

                                        {% if role.errorBP == 1 %}
                                            <td class="text-success">Enabled</td>
                                        {% else %}
                                            <td class="text-danger">Disabled</td>
                                        {% endif %}

                                        {% if role.teacherBP %}
                                            <td class="text-success">Enabled</td>
                                        {% else %}
                                            <td class="text-danger">Disabled</td>
                                        {% endif %}

                                        {% if role.userBP %}
                                            <td class="text-success">Enabled</td>
                                        {% else %}
                                            <td class="text-danger">Disabled</td>
                                        {% endif %}

                                        {% if role.superAdminBP %}
                                            <td class="text-success">Enabled</td>
                                        {% else %}
                                            <td class="text-danger">Disabled</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <script nonce="{{ csp_nonce() }}">
            var alertModal = new bootstrap.Modal(document.getElementById("alertModal"), {});
            alertModal.show();
        </script>
        {% endif %}
    {% endwith %}
    <script src="{{ url_for('static', filename='scripts/bootstrap_util.js') }}"></script>
{% endblock %}